<div class="wrap">
  <form method="post" action="">
    <h3>Magic User Admin Settings</h3>

    <ul>
      {% for setting in settings %}
      <li>
        {% if setting.label %}
          <label for="{{ setting.name }}">{{ setting.label }}</label>
        {% endif %}
        <input
          type="{{ setting.type }}"
          value="{{ setting.value }}"
          name="{{ setting.name }}"
          id="{{ setting.name }}"
        />
      </li>
      {% endfor %}
    </ul>
    <input type="submit" value="Submit" />
  </form>
</div>
