{% extends "base.twig" %}

{% block content %}
  <h3>{{ post.title }}</h3>

  {% if post.above_text %}
    <div class="above">{{ post.above_text }}</div>
  {% endif %}

  {% for error  in errors %}
  {{error}}
  {% endfor %}

  <form class="account" action="{{ form.url }}" method="post">
    <input type="hidden" name="nonce" value="{{ form.nonce }}" />
    <input type="hidden" name="action" value="{{ form.action }}" />
    <input type="hidden" name="ID" value="{{ user.ID }}" />

    {% if form.error %}
      <div class="error">{{ form.error }}</div>
    {% endif %}

    <ul>
      <li>
        <div class="label">{{ post.login_text }}</div>
        <div>{{ user.user_login }}</div>
      </li>
      {% if user.avatar and post.use_gravatar %}
      <li>
        <img src="{{ user.avatar }}" role="presentation" />
      </li>
      {% endif %}
      <li>
        <div class="label">{{ post.display_name_text }}</div>
        <input type="text" value="{{ user.display_name }}" name="display_name" />
        {% if 'missing_display_name' in _REQUEST.error and post.error_missing_display_name %}
          <div class="error">{{ post.error_missing_display_name }}</div>
        {% endif %}
      </li>
      <li>
        <div class="label">{{ post.email_text }}</div>
        <div>{{ user.user_email }}</div>
      </li>
      <li>
        <div class="label">{{ post.first_name_text }}</div>
        <input type="text" value="{{ user.first_name }}" name="first_name" />
      </li>
      <li>
        <div class="label">{{ post.last_name_text }}</div>
        <input type="text" value="{{ user.last_name }}" name="last_name" />
      </li>
      <li>
        <div class="label">{{ post.email_text }}</div>
        <div>{{ user.user_email }}</div>
      </li>
      <li>
        <div class="label">{{ post.url_text }}</div>
        <input type="text" value="{{ user.user_url }}" name="user_url" />
      </li>
      <li>
        <div class="label">{{ post.registered_text }}</div>
        <div>{{ user.user_registered }}</div>
      </li>
      <li>
        <input type="submit" value="{{ post.submit_text }}" />
      </li>
    </ul>
  </form>
  {% if post.below_text %}
    <div class="below">{{ post.below_text }}</div>
  {% endif %}
{% endblock %}
