{% extends "base.twig" %}

{% block content %}
  <h3>{{ post.title }}</h3>

  {% if post.above_form %}
  <div class="content above">{{ post.above_form }}</div>
  {% endif %}

  <form action="{{ form.url }}" method="post">
    <input type="hidden" name="nonce" value="{{ form.nonce }}" />
    <input type="hidden" name="action" value="{{ form.action }}" />

    {% if 'nonce' in _REQUEST.error and post.error_nonce %}
      <div class="error">{{ post.error_nonce }}</div>
    {% elseif 'unknown' in _REQUEST.error and post.error_unknown %}
      <div class="error">{{ post.error_unknown }}</div>
    {% endif %}

    <ul>
      <li>
        {% if 'user_not_found' in _REQUEST.error and post.error_user_not_found %}
          <div class="error">{{ post.error_user_not_found }}</div>
        {% elseif 'missing_email' in _REQUEST.error and post.error_missing_email %}
          <div class="error">{{ post.error_missing_email }}</div>
        {% endif %}
        <input type="text" name="email" placeholder="{{ post.email_placeholder }}" value="{{ _REQUEST.email }}" />
      </li>
      <li>
        {% if 'missing_password' in _REQUEST.error and post.error_missing_password %}
          <div class="error">{{ post.error_missing_password }}</div>
        {% endif %}
        <input type="password" name="password" placeholder="{{ post.password_placeholder }}" />
      </li>
      {% if gdpr_exists and not cookies.auth %}
      <li>
        <label for="cbx" class="check">
          {% if 'cookie' in _REQUEST.error and post.error_cookie %}
            <div class="error">{{ post.error_cookie }}</div>
          {% endif %}

          {% if post.before_allow_cookies_text %}
          <span>{{ post.before_allow_cookies_text }}</span>
          {% endif %}

          {% include cookie_template %}

          {% if post.after_allow_cookies_text %}
          <span>{{ post.after_allow_cookies_text }}</span>
          {% endif %}
        </label>
      </li>
      {% endif %}
      <li>
        <input type="submit" value="{{ post.submit_text }}" />
    </ul>
  </form>

  {% if post.below_form %}
  <div class="content below">{{ post.below_form }}</div>
  {% endif %}
{% endblock %}
