{% extends "base.twig" %}

{% block content %}
  <h3>{{ post.title }}</h3>

  {% if post.above_text %}
  <div class="content above">{{ post.above_text }}</div>
  {% endif %}

  <form action="{{ form.url }}" method="post">
    <input type="hidden" name="nonce" value="{{ form.nonce }}" />
    <input type="hidden" name="action" value="{{ form.action }}" />

    {% if form.error %}
      <div class="error">{{ form.error }}</div>
    {% endif %}

    <ul>
      <li>
        <input type="email" name="email" placeholder="{{ post.email_placeholder }}" value="{{ _REQUEST.email }}"/>
      </li>
      <li>
        <input type="password" name="password" placeholder="{{ post.password_placeholder }}" />
      </li>
      <li>
        <input type="password" name="password2" placeholder="{{ post.password2_placeholder }}" />
      </li>
      <li>
        <input type="text" name="username" placeholder="{{ post.username_placeholder }}" value="{{ _REQUEST.username }}"/>
      </li>

      {% if gdpr_exists and not cookies.auth %}
      <li>
        <label for="allow_cookies" class="check">
          {% if post.before_allow_cookies_text %}
          <span>{{ post.before_allow_cookies_text }}</span>
          {% endif %}

          {% include cookie_template %}

          {% if post.after_allow_cookies_text %}
          <span>{{ post.after_allow_cookies_text }}</span>
          {% endif %}
        </label>
      </li>
      {% endif %}

      {% if tos %}
      <li>
        <label for="accept_tos">
          <input type="checkbox" name="allow_cookies">
          <a href="{{ tos.url }}">{{ tos.text }}</a>
        </label>
      </li>
      {% endif %}

      <li>
        <input type="submit" value="{{ post.submit_text }}" />
      </li>
    </ul>
  </form>

  {% if post.below_text %}
  <div class="content below">{{ post.below_text }}</div>
  {% endif %}
{% endblock %}
