{% extends "base.twig" %}

{% block content %}
  <h3>{{ post.title }}</h3>

  {% if post.above_text %}
  <div class="content above">{{ post.above_text }}</div>
  {% endif %}

  <form action="{{ form.url }}" method="post">
    <input type="hidden" name="nonce" value="{{ form.nonce }}" />
    <input type="hidden" name="action" value="{{ form.action }}" />

    {% include 'magic-form-error.twig' with { err: 'nonce' } %}
    {% include 'magic-form-error.twig' with { err: 'user_not_found' } %}
    {% include 'magic-form-error.twig' with { err: 'create' } %}
    {% include 'magic-form-error.twig' with { err: 'unknown' } %}

    <ul>

      <li>
        {% include 'magic-form-input.twig' with {
          name: 'log',
          error: 'missing_email',
        } %}
      </li>

      <li>
        {% include 'magic-form-input.twig' with {
          name: 'pwd',
          error: 'missing_password',
          type: 'password',
        } %}
      </li>

      {% include 'magic-form-error.twig' with { err: 'mismatch_password' } %}

      <li>
        {% include 'magic-form-input.twig' with {
          name: 'pwd2',
          error: 'missing_password2',
          type: 'password',
        } %}
      </li>

      <li>
        {% include 'magic-form-input.twig' with {
          name: 'username',
        } %}
      </li>

      {% if gdpr_exists and not cookies.auth %}
      <li>
        {% include 'magic-gdpr-form-inputs.twig' %}
      </li>
      {% endif %}

      <li>
        {% include 'magic-form-submit-button.twig' %}
      </li>
    </ul>
  </form>

  {% if post.below_text %}
  <div class="content below">{{ post.below_text }}</div>
  {% endif %}
{% endblock %}
