{{ function( 'wp_enqueue_media') }}

{% if setting.label %}
<p>
  <label>{{ setting.label }}</label>
</p>
{% endif %}

<p>
  <img class="{{ setting.name }}" src="{{ setting.value }}" />
</p>
<p>
  <input class="{{ setting.name }}_url" type="text" name="{{ setting.name }}" value="{{ setting.value }}">
</p>
<p>
  <a href="#" class="{{ setting.name }}_upload">Upload</a>
  <a href='#' class="{{ setting.name }}_remove">Remove</a>
</p>

<script>
  var upload_btn = document.getElementsByClassName("{{ setting.name }}_upload")[0];
  var remove_btn = document.getElementsByClassName("{{ setting.name }}_remove")[0];
  var url_input = document.getElementsByClassName('{{ setting.name }}_url')[0];
  var image_input = document.getElementsByClassName('{{ setting.name }}')[0];

  upload_btn.addEventListener('click', function (e) {
    e.preventDefault();

    var custom_uploader = wp.media({
      title: '$name',
      button: {
        text: 'Upload Image'
      },
      multiple: false,
    })
    .on('select', function() {
      var attachment = custom_uploader.state().get('selection').first().toJSON();
      image_input.setAttribute('src', attachment.url);
      url_input.setAttribute('value', attachment.url);
    })
    .open();
  } );

  remove_btn.addEventListener('click', function (e) {
    e.preventDefault();

    document.getElementsByClassName('{{ setting.name }}')[0].setAttribute('src', '');
    document.getElementsByClassName('{{ setting.name }}_url')[0].setAttribute('value', '');
  } );
</script>
