<input
  type="{{ setting.type }}"
  {% if setting.value %} checked{% endif %}
  id="{{ setting.name }}"
  name="{{ setting.name }}"
/>
{% if setting.label %}
<label for="{{ setting.name }}">{{ setting.label }}</label>
{% endif %}
