{% if setting.label %}
  <label for="{{ setting.name }}">{{ setting.label }}</label>
{% endif %}
<input
  type="{{ setting.type }}"
  value="{{ setting.value }}"
  id="{{ setting.name }}"
  name="{{ setting.name }}"
/>
